<div class="container">
	<div class="col-xs-6 col-xs-offset-3 ">
		<h1 class="text-center">Setting</h1>
		
		<%= render 'form' %>

		<%= gravatar_for @user %>

		<small><a target="_blank" href="https://ja.gravatar.com/emails">Change Gravatar</a></small>
	</div>	
</div>	