<div class="container">
	<div class="col-sm-3">
		<section>
			<%= render 'shared/user_info' %>
		</section>

		<% unless current_user?(@user)%>
			<section>
				<%= render 'follow_form' %>
			</section>
		<% end %>
	</div>	
</div>