<header>
	<nav class="navbar">
		<div class="container">
			<div class="nav-header">
				<%= link_to "Rubik's Cube" , root_path, class: 'navbar-brand' %>
			</div>

			<ul class="nav">
				<li class="nav-item active"><%= link_to "Sign up", root_path %></li>
				<li class="nav-item active"><%= link_to "Login", root_path %></li>
			<ul>
		</div>
	</nav>
</header>



